name: Anchore
on: [workflow_dispatch]
jobs:
  anchore:
    runs-on: ubuntu-latest
    steps:
    - uses: anchore/scan-action@v3
      with:
        image: "docker.io/folioci/mod-reading-room:1.0.0-SNAPSHOT.18"
        fail-build: false
    - uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}
